.logo-register {
  width: 200px;
  height: 174px;
  display: flex;
  align-self: center;
  padding-top: 20px;
  text-align: center;
}

.logo-div {
  display: flex;
  justify-content: center;
}

.title-register {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.input-register {
  box-sizing: border-box;
  width: 340px;
  font-family: "Josefin Sans";
  height: 36px;
  border-width: 0px 0px 2px 1px;
  border-style: solid;
  border-color: #dbca72;
  border-radius: 8px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  display: flex;
  align-self: center;
  text-align: center;
}

.input-div-register {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 25dvh;
  font-family: josefin sans;
}

.papa-div-register {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.register-btn-create {
  width: 200px;
  height: 41px;
  border: none;
  border-radius: 4px;
  background-color: #dbca72;
  font-family: josefin sans;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  line-height: 20px;
}

.div-btn-register {
  display: flex;
  height: 18vh;
  min-width: 21rem;
  justify-content: center;
  align-self: center;
  align-items: center;
}
