.h1-angels {
  color: #dbca72;
  text-align: center;
}

.papito-div {
  background-color: #f0f1f3;
}

.loader-posts {
  display: flex;
  justify-content: center;
}

.div-2 {
  display: flex;
  flex-direction: column;
  background-color: #f0f1f3;
}

.label-posts {
  text-align: center;
}

.image-wrapper {
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
  /* background-color: salmon;   */
}

.image-posts {
  max-width: 500px;
  min-width: 500px;
  height: auto;
  border-radius: 2px;
  object-fit: cover;
  /* background-color: rebeccapurple; */
}

.description-posts {
  position: relative;
  font-size: small;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  max-width: 400px;
  opacity: 0.9;
  height: 3vh;
  display: flex;
  bottom: 60px;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: white;
  padding: 10px;
}

.Posts-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f1f3;
}

.see-more-button {
  background: none;
  border: none;
  color: black;
  align-self: center;
  cursor: pointer;
  width: 100px;
  transition: ease-in-out;
}

.Comment-reply-container {
  display: flex;
  flex-direction: column;
  /* background-color: white; */
}

.Comment-section-p {
  min-height: 2.5rem;
  height: 10vh;
  border: 1px solid #dbca72;
  border-radius: 8px;
  justify-content: center;
  background-color: white;
  max-width: 71vw;
  padding: 10px;
  text-align: left;
}

.comment-user-name {
  /* position: absolute; */
  font-size: small;
  display: flex;
  align-items: center;
}

.Reply-section-p {
  /* margin-left: 20px; */
  margin-bottom: 5px;
  border: 1px solid #dbca72;
  border-radius: 8px;
  background: white;
  width: 200px;
  padding: 10px;
  display: flex;
  align-self: flex-end;
}

.Comment-reply-container {
  /* margin-left: 20px; */
  /* height: auto; */
}

.comment-content-div {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  /* align-items: center; */
  background-color: #f0f1f3;
}

.date-stamp {
  display: flex;
  position: relative;
  bottom: 40px;
  justify-content: flex-end;
  font-size: x-small;
}

.Comment-input::placeholder {
  font-family: "Josefin Sans";
  font-size: 16px;
  opacity: 0.5;
  color: black;
  text-align: start;
  letter-spacing: 0px;
  padding: 10px;
}

.Comment-input {
  max-width: 270px;
  height: 100px;
  border: 1px solid #dbca72;
  border-radius: 8px;
  /* margin-top: 1rem; */
  display: flex;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  background-color: white;
  /* line-height: 20px; */
  /* margin-right: 1rem; */
}

.Post-comment-button {
  box-sizing: border-box;
  width: 60px;
  height: 30px;
  border: none;
  background: transparent;
  margin-top: 4px;
  color: #dbca72;
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: "Josefin Sans";
  font-weight: bolder;
  font-size: 17px;
  line-height: 20px;
  margin-left: 200px;

  cursor: pointer;
}

.div-comment-posts {
  display: flex;
  flex-direction: column;
  margin-left: 187px;
}

.Reply-input {
  width: 240px;
  padding: 5px;
  border-radius: 8px;
  height: 2vh;
  border: 1px solid #dbca72;
  display: flex;
  align-self: flex-end;
  height: 5vh;
  background-color: white;
  justify-content: flex-start;
}

.comment-name-div-posts {
  display: flex;
  flex-direction: column;
}

.Reply-input::placeholder {
  font-family: "Josefin Sans";
  font-size: 16px;
  opacity: 0.5;
  color: black;
  text-align: start;
  letter-spacing: 0px;
  padding: 5px;
}

.div-post-btn {
  display: flex;
  flex-direction: column;
}

.Post-reply-button {
  box-sizing: border-box;
  width: 60px;
  height: 30px;
  border: none;
  background: transparent;
  margin-top: 4px;
  color: #dbca72;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  font-family: "Josefin Sans";
  font-weight: bolder;
  font-size: 17px;
  line-height: 20px;
  margin-right: 1rem;
  cursor: pointer;
}

.Show-reply-button {
  display: flex;
  background: transparent;
  font-weight: bolder;
  color: #dbca72;
  border: none;
  align-self: end;
  /* margin-right: 30px; */
  cursor: pointer;
}

.comments-word {
  display: flex;
  align-items: center;
  align-self: center;
  width: 250px;
  justify-content: space-between;
}

.icon-arrow-down {
  /* padding: 2px; */
  color: #dbca72;
  cursor: pointer;
}

.hide-reply-button {
  display: flex;
  align-self: center;
  border: none;
  background: transparent;

  color: #dbca72;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  cursor: pointer;
}

.show-comments {
  display: block;
}

.hide-comments {
  display: none;
}

.icon-profile {
  text-align: center;
  color: #dbca72;
}

.label-posts {
  display: flex;
  justify-content: start;
  align-items: center;
}

.icon-profile-comment {
  /* fill: #dbca72; */
  color: #dbca72;
  font-size: 30px;
}

.hidden-comment {
  display: none;
}

@media (max-width: 767px) {
  .date-stamp {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    margin-top: 10px;
    font-size: x-small;
  }

  .Post-reply-button {
    width: 40px;
    border: none;
    background: transparent;
    margin-top: 6px;
    margin-right: 15px;
    justify-content: center;
    align-self: end;
    color: #dbca72;
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
  }

  .Comment-input {
    max-width: 270px;
    height: 100px;
    border: 1px solid #dbca72;
    border-radius: 8px;
    margin-top: 1rem;
    display: flex;
    align-self: flex-end;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    background-color: white;
    line-height: 20px;
    margin-right: 2.9rem;
  }

  .Post-comment-button {
    box-sizing: border-box;
    width: 60px;
    height: 30px;
    border: none;
    background: transparent;
    margin-top: 4px;
    color: #dbca72;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    font-family: "Josefin Sans";
    font-weight: bolder;
    font-size: 17px;
    line-height: 20px;
    margin-right: 45px;
    cursor: pointer;
  }

  .div-comment-posts {
    display: flex;
    flex-direction: column;
    max-width: 84%;
  }
}
