/* .adress-sos {
  max-height: 0;
  overflow: hidden;
  /* background-color: red; */
/* }     */



/* .adress-sos.show{
    height: auto;
    max-height: 100vh;
    background-color: red;
} */


/* .name-sos{
    cursor: pointer;
}


.accordion{
    display: flex;
    /* justify-content: center; */
    /* flex-direction: column;
    text-align: center;
} */

/* .down-arrow{
    transform: rotate(100deg);
    /* size: 200px; */
    /* font-size: 20px;  */

/* }  */


/* .up-arrow{
    transform: rotate(-90deg);
    font-size: 30px; */
    /* color:; */

/* } */