.Hero-image {
  background-image: url(https://angelsprotectorss.onrender.com/images/1683969275699-Zeus-Product_Home_HERO-mobile.jpg);
  background-size: cover;
  height: 60rem;
  width: 100%;
  display: flex;
  background-position-x: bottom;
  background-position-y: top;
}

.p-home {
  width: 40rem;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 25px;
  height: 2rem;
}

.h2-home {
  text-align: center;
  font-weight: normal;
}

.opacity-home {
  display: flex;
  width: 100%;
  background-color: #dbca72;
  justify-content: center;
  align-self: flex-end;
}

.Link-home {
  color: white !important;
  text-decoration: none !important;
}

.btn-home {
  width: 140px;
  height: 40px;
  border: none;
  color: black;
  border-radius: 8px;
  background: rgba(219, 202, 114, 0.8);
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 3rem;
}

.experience-h1 {
  font-size: 300px;
  z-index: 20;
  text-align: center;
  background: red;
  margin-left: 80px;
}

.div-p-btn {
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

.slick-next:before {
  content: none !important;
  display: none !important;
}

.slick-next {
  display: none !important;
  right: 0px !important;
}

.border-mid {
  width: 70%;
  margin-left: 15%;
  background-color: #dbca72;
  border-radius: 10px;
  height: 0.5vh;
}

.logo-home {
  width: 200px;
  height: 174px;
}

.logo-div-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 40vh;
}

.label-logo {
  text-align: center;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.btn-onduty-home {
  width: 140px;
  height: 40px;
  color: black;
  border: none;
  border-radius: 8px;
  background: rgba(219, 202, 114, 0.8);
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.sos-label {
  width: 300px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

.div-sos {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-sos-homepage {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: rgba(219, 202, 114, 0.8);
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: black;
  margin-top: 20px;
}

.icon-home-email {
  color: #dbca72;
}

.contact-div-icon-home {
  display: flex;
  justify-content: center;
}

.link-home-contact {
  text-align: center;
  display: flex;
  align-items: center;
}

.border-mid- {
  width: 70%;
  margin-bottom: 2rem;
  margin-top: 20px;
  background-color: #dbca72;
  border-radius: 10px;
  height: 0.5vh;
}

.span-home-contact {
  width: 100px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 25px;
}

.border-mid-last {
  margin-left: 30%;
  margin-bottom: 2rem;
  margin-top: 30px;
  background-color: #dbca72;
  border-radius: 10px;
  height: 0.5vh;
}

a {
  color: black !important;
  text-decoration: none !important;
}

.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

@media (max-width: 767px) {
  .Hero-image {
    background-image: url(https://angelsprotectorss.onrender.com/images/1683969275699-Zeus-Product_Home_HERO-mobile.jpg);
    background-size: cover;
    height: 50vh;
    width: 100%;
    display: flex;
    background-position-x: center;
    background-position-y: center;
  }

  .p-home {
    width: 250px;
    height: auto;
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 550;
    font-size: 15px;
    line-height: 25px;
  }
}
