a {
  color: black !important /* set your desired color */; /* Set the color for both unvisited and visited links */
  text-decoration: none !important; /* Remove underline on all links */
  color: #000 !important;
}

button {
  cursor: pointer;
}

.span-location {
  display: block;
  padding: 10px;
  font-size: 20px;
  font-weight: 100;
  width: 20rem;
}

.div-images-styling {
  width: 250px !important;
}

.div-home {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.caseroul-image-style {
  width: 20rem;
  height: 15vh;
  border-radius: 12px;
}

.slick-slide {
  display: flex;
  justify-content: center;
  text-align: center;
  /* background-color: #000; */
}

.slick-dots{
  /* background-color: lightblue; */
  /* height: 10rem; */

}

@media (max-width: 767px) {
  .caseroul-image-style {
    width: 150px;
    height: 15vh;
    border-radius: 12px;
  }
  .div-images-styling {
    width: 150px !important;
  }
}
