a {
  color: black /* set your desired color */; /* Set the color for both unvisited and visited links */
  text-decoration: none; /* Remove underline on all links */
  /* text-align: center; */
}

a:hover {
  /* set your desired color */ /* Set the color for focused and hovered links */
  /* Additional styles if needed */
}

.div-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto;
  max-width: 800px;
}

.span-location {
  display: block;
  padding: 10px;
  font-size: 20px;
  font-weight: 100;
}

.div-images-styling {
  width: 250px !important;
}

.caseroul-image-style {
  width: 200px;
  height: 15vh;
  border-radius: 12px;
  object-fit: cover;
}

.slick-slide {
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (max-width: 767px) {
  .caseroul-image-style {
    width: 150px;
    height: 15vh;
    border-radius: 12px;
  }
  .div-images-styling {
    width: 150px !important;
  }
}
