a {
  color: black /* set your desired color */; /* Set the color for both unvisited and visited links */
  text-decoration: none; /* Remove underline on all links */
  /* text-align: center; */
}

a:hover {
   /* set your desired color */ /* Set the color for focused and hovered links */
  /* Additional styles if needed */
}

.span-location {
  display: block;
  padding: 10px;
  font-size: 20px;
  font-weight: 100;
}

.div-images-styling {
  width: 150px !important;
}

.div-home {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  /* height: 30vh; */
  justify-content: center;
  margin-top: 30px;
}

.caseroul-image-style {
  width: 150px;
  height: 15vh;
  border-radius: 12px;
}

.slick-slide {
  display: flex;
  justify-content: center;
  text-align: center;
}
