@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  font-family: josefin sans;
}




Link {
  display: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}