.Nav-fs {
  display: flex;

  justify-content: flex-end;
  /* align-self: center; */
  
}

Link{
  display: none;
}

.logo-nav-div{
  display: flex;
  /* justify-content: center; */
  /* justify-content: space-between; */
}
.navigation {
  /* width: 100%; */
  height: 70px;
  background-color: #dbca72;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

.h2-header {
  padding: 6px;
}

.nav-link {
  font-style: none;
  outline-style: none;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.nav-link :hover {
  background-color: rgba(0, 0, 0, 0.075);
  color: aliceblue;
}

.H1-Header {
  text-align: center;
  /* background-color: red; */
  /* width: 650px; */
  padding-left: 10px
}

#User-icon {
  display: flex;
  font-size: 1.7rem;
  padding-top: 20px;
  padding-right: 20px;
  display: none;
}

.logo-nav {
  width: 70px;
  height: 70px;
  display: flex;
  align-self: center;
  
}

#User-icon-fs {
  display: flex;
  font-size: 1.7rem;
  padding-top: 12px;
  padding-right: 20px;
  /* justify-content: flex-end; */
  /* align-self: flex-end; */
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.navigation ul li {
  list-style-type: none;
  padding-right: 10px;
}

.hamburger {
  z-index: 6;
}
.navigation pxul {
  display: none;
}

.navigation ul.show {
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.navigation ul li {
  list-style-type: none;
  padding-right: 10px;
}

/* phone */
@media (max-width: 767px) {
  .Nav-fs {
    display: none;
  }
  .hamburger {
    display: fixed;
    padding-top: 10px;
    margin-left: 10px;
    z-index: 6;
    font-weight: bold;
  }
  #User-icon {
    display: flex;
    font-size: 1.7rem;
    padding-top: 20px;
    padding-right: 20px;
  }
  .navigation ul {
    display: none;
  }

  .navigation ul.show {
    display: flex;
    width: 40vw;
    background-color: #dbca72;
    height: 63vh;
    position: fixed;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 10px;
    border-color: none;
    border: none;
    padding-top: 15px;
    z-index: 5;
  }
  .H1-Header {
    text-align: center;
    padding-left: 5px;
  }
  .logo-nav {
    width: 70px;
    height: 70px;
    display: flex;
    align-self: center;
    display: none;
    
  }

  .navigation {
    width: 100%;
    height: 70px;
    background-color: #dbca72;
    display: flex;
    justify-content: space-between;
  }
}

.navigation ul {
  display: none;
}

/* tablet */
@media (max-width: 936px) {
  .hamburger {
    display: fixed;
    padding-top: 10px;
    margin-left: 10px;
    z-index: 6;
    font-weight: bold;
  }
}
